.modalBody,
.modalEmail,
.modalName,
.modalPhone {
  color: #fff;
  font-family: Roboto;
  margin: 10px 0;
}

input {
  border-radius: 5px;
}

.modalDialog {
  max-width: 500px;
  margin: 30px auto;
  position: relative;
  width: auto;
}

.modalHeader {
  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
}

.modalMask {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: table;
  transition: opacity 0.3s ease;
}

.name {
  width: 100%;
}

.body {
  height: 80px;
  width: 100%;
}

.modalWrapper {
  display: table-cell;
  verticalalign: middle;
}

.modalContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 2px;
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modalEmail {
  width: 50%;
  float: left;
}

.modalPhone {
  width: 50%;
  float: right;
}

.modalPhone p {
  float: right;
}

.modalPhone input {
  float: right;
}

.modalHeader {
  margin-top: 0;
  color: #ffd200;
}

.modalInfo {}

.modalenter {
  opacity: 0;
}

.modalleave-active {
  opacity: 0;
}

.modalenter .modalcontainer,
.modalleave-active .modalcontainer {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
