.button {
  color: white;
  background-color: orange;
  background: -webkit-linear-gradient(left, #F36819, rgb(255,210,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F36819, rgb(255,210,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F36819, rgb(255,210,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F36819, rgb(255,210,0)); /* Standard syntax */
  width: 215px;
  height: 40px;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 2px;
  box-shadow: 1px 1px 1px #333;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
