.container {
  margin: 0 auto;
}
.header {
  font-size: 28px;
  color: #F36819;
}
.subHeader{
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}
.text{
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 990px) {
  .container {
    width: 550px;
    margin: 10px 25px;
  }
}

@media (min-width: 768px) and (max-width: 989px) {
  .container {
    width: 400px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 300px;
  }
}
